anyenv:
  dir:         '{{ home_path }}/.anyenv'
  plugins_dir: '{{ home_path }}/.anyenv/plugins'
  envs_dir:    '{{ home_path }}/.anyenv/envs'

link:
  bash/bash_profile: .bash_profile
  zsh/zshrc: .zshrc
  zsh/alias: .alias
  git/gitconfig: .gitconfig
  tmux/tmux.conf: .tmux.conf
  vim/conf: .vim
  vim/vimrc: .vimrc
  nvim/init.vim: .config/nvim/init.vim

ruby:
  versions:
    - 2.4.0

  plugins_dir: '{{ anyenv.envs_dir }}/rbenv/plugins'

  plugins:
    - ianheggie/rbenv-binstubs
    - sstephenson/rbenv-default-gems
    - sstephenson/rbenv-gem-rehash

homebrew:
  applications:
    - appcleaner
    - atom
    - docker
    - firefox
    - google-chrome
    - google-hangouts
    - google-japanese-ime
    - iterm2
    - karabiner-elements
    - skype
    - vagrant
    - licecap

  repositories:
    - homebrew/boneyard
    - homebrew/dupes
    - homebrew/science

  packages:
    - argon/mas/mas
    - coreutils
    - ctags
    - git
    - git-lfs
    - git-now
    - ghq
    - heroku-toolbelt
    - hub
    - imagemagick
    - jq
    - mercurial
    - mongodb
    - mysql
    - nkf
    - phantomjs
    - postgresql
    - pstree
    - reattach-to-user-namespace
    - redis
    - sqlite
    - terraform
    - the_silver_searcher
    - tig
    - tmux
    - tree
    - w3m
    - { name: 'wget', install_options: '--enable-iri' }
    - xctool

mas:
  appstore_id:       '{{ secrets.mas.appstore_id }}'
  appstore_password: '{{ secrets.mas.appstore_password }}'

  # List installed apps by
  #
  #   $ mas list
  #
  applications:
    - '443987910'  # 1Password
    - '1091189122' # Bear
    - '411643860'  # DaisyDisk
    - '539883307'  # Line
    - '409183694'  # Keynote
    - '928494006'  # PopHub
    - '803453959'  # Slack
    - '425955336'  # Skitch
    - '904280696'  # Things
    - '557168941'  # Tweetbot
    - '1076860635' # Wantedly Chat
    - '497799835'  # Xcode
