- name: Development environment
  hosts: 127.0.0.1
  connection: local

  vars:
    home_path: '{{ lookup("env", "HOME") }}'
    dotfiles_path: '{{ home_path }}/napsac'

  environment:
    PATH: '/usr/local/bin:{{ lookup("env", "PATH") }}'

  roles:
    - role: link
      tags: ['link']
    - role: terminal
      tags: ['terminal']
    - role: macos
      tags: ['macos']
    - role: zsh
      tags: ['zsh']
    - role: anyenv
      tags: ['anyenv']
    - role: homebrew
      tags: ['homebrew']
    - role: tpm
      tags: ['tpm']
    - role: ruby
      tags: ['ruby']
    - role: minikube
      tags: ['minikube']
