- name: Development environment
  hosts: 127.0.0.1
  connection: local

  vars:
    home_path: '{{ lookup("env", "HOME") }}'
    dotfiles_path: '{{ home_path }}/napsac'

  roles:
    - role: link
      tags: ['link']
    - role: zsh
      tags: ['zsh']
    - role: anyenv
      tags: ['anyenv']
